<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>多火四六级准考证查询</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <div class="container" id="container">
        <div class="msg">
            <div class="weui_msg">
                <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
                <div class="weui_text_area">
                    <h2 class="weui_msg_title" style="color: #e64340;">查询失败</h2>
                    <p class="page_desc">请您确认信息正确后重新尝试！</p>
                </div>
                <div class="weui_opr_area">
                    <p class="weui_btn_area">
                        <a onclick="history.go(-1)" class="weui_btn weui_btn_warn">返回</a>                    
                    </p>
                </div>
                <div class="weui_extra_area">
                    <a href="http://viewer.maka.im/k/52C70HVR">关于多火</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
